@import url("https://fonts.googleapis.com/css2?family=Latodisplay=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #333;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  transform-origin: top left;
}

.container.show-nav {
  transform: rotate(-20deg);
  transform-origin: top left;
}

.container.show-nav2 {
  transform: rotate(-20deg);
  transform-origin: top left;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle-container2 {
  position: fixed;
  top: -100px;
  right: -100px;
}

.circle {
  background-color: #0f0b0b;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle2 {
  background-color: rgb(255, 0, 0);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.container.show-nav2 .circle2 {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle2 button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle2 button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle2 button#open2 {
  right: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.circle2 button#close2 {
  bottom: 50%;
  transform: rotate(90deg);
  transform-origin: top right;
}

.container.show-nav + nav section#options-left li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav2 + nav section#options-right li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav section#options-left {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav section#options-right {
  position: fixed;
  bottom: 40px;
  left: 0px;
  z-index: 100;
}

nav section#options-left ul {
  list-style-type: none;
  padding-left: 22px;
}

nav section#options-right ul {
  list-style-type: none;
  padding-left: 22px;
}

nav section#options-right ul li {
  /* text-transform: uppercase; */
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav section#options-left ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li:hover {
  border-bottom: 2px solid #fff;
  margin: 0;
  cursor: pointer;
}

nav section#options-left ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav section#options-right ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav section#options-left ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav section#options-right ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav section#options-left ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav section#options-right ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav section#options-left ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-250%);
}

nav section#options-right ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-250%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  color: rgb(250, 0, 0);
}

.content h1 {
  margin: 0;
}

.content small {
  color: #fefefe;
  font-style: italic;
}

.content p {
  color: #fff;
  line-height: 1.5;
}

a {
  color: #fff;
  z-index: -1;
}

button:focus {
  outline: none;
}

button {
  color: #fff;
  background: none;
  border: 0px;
  cursor: pointer;
}
